extends layout

block content
  h3 My Google Maps Demo
  #map
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAPSczFBFn9zTquT37n68AYqkRytoUpqp8&callback=initMap')
  script(type='text/javascript' src='javascripts/index.js')
