extends layout

block content
  
  #map
  #input-background
    #input
        form(method = "post")
            #form-group
                label(for = "pokemonType") Pokemon Type
                select.form-control#pokemonType
                    option.species-selector() #001 Bulbasaur
                    option.species-selector() #002 Ivysaur
                    option.species-selector() #003 Venusaur
                    option.species-selector() #004 Charmander
                    option.species-selector() #005 Charmeleon
                    option.species-selector() #006 Charizard
                    option.species-selector() #007 Squirtle
                    option.species-selector() #008 Wartortle
                    option.species-selector() #009 Blastoise
                    option.species-selector() #010 Caterpie
                    option.species-selector() #011 Metapod
                    option.species-selector() #012 Butterfree
                    option.species-selector() #013 Weedle
                    option.species-selector() #014 Kakuna
                    option.species-selector() #015 Beedrill
                    option.species-selector() #016 Pidgey
                    option.species-selector() #017 Pidgeotto
                    option.species-selector() #018 Pidgeot
                    option.species-selector() #019 Rattata
                    option.species-selector() #020 Raticate
                    option.species-selector() #021 Spearow
                    option.species-selector() #022 Fearow
                    option.species-selector() #023 Ekans
                    option.species-selector() #024 Arbok
                    option.species-selector() #025 Pikachu
                    option.species-selector() #026 Raichu
                    option.species-selector() #027 Sandshrew
                    option.species-selector() #028 Sandslash
                    option.species-selector() #029 Nidoran?
                    option.species-selector() #030 Nidorina
                    option.species-selector() #031 Nidoqueen
                    option.species-selector() #032 Nidoran?
                    option.species-selector() #033 Nidorino
                    option.species-selector() #034 Nidoking
                    option.species-selector() #035 Clefairy
                    option.species-selector() #036 Clefable
                    option.species-selector() #037 Vulpix
                    option.species-selector() #038 Ninetales
                    option.species-selector() #039 Jigglypuff
                    option.species-selector() #040 Wigglytuff
                    option.species-selector() #041 Zubat
                    option.species-selector() #042 Golbat
                    option.species-selector() #043 Oddish
                    option.species-selector() #044 Gloom
                    option.species-selector() #045 Vileplume
                    option.species-selector() #046 Paras
                    option.species-selector() #047 Parasect
                    option.species-selector() #048 Venonat
                    option.species-selector() #049 Venomoth
                    option.species-selector() #050 Diglett
                    option.species-selector() #051 Dugtrio
                    option.species-selector() #052 Meowth
                    option.species-selector() #053 Persian
                    option.species-selector() #054 Psyduck
                    option.species-selector() #055 Golduck
                    option.species-selector() #056 Mankey
                    option.species-selector() #057 Primeape
                    option.species-selector() #058 Growlithe
                    option.species-selector() #059 Arcanine
                    option.species-selector() #060 Poliwag
                    option.species-selector() #061 Poliwhirl
                    option.species-selector() #062 Poliwrath
                    option.species-selector() #063 Abra
                    option.species-selector() #064 Kadabra
                    option.species-selector() #065 Alakazam
                    option.species-selector() #066 Machop
                    option.species-selector() #067 Machoke
                    option.species-selector() #068 Machamp
                    option.species-selector() #069 Bellsprout
                    option.species-selector() #070 Weepinbell
                    option.species-selector() #071 Victreebel
                    option.species-selector() #072 Tentacool
                    option.species-selector() #073 Tentacruel
                    option.species-selector() #074 Geodude
                    option.species-selector() #075 Graveler
                    option.species-selector() #076 Golem
                    option.species-selector() #077 Ponyta
                    option.species-selector() #078 Rapidash
                    option.species-selector() #079 Slowpoke
                    option.species-selector() #080 Slowbro
                    option.species-selector() #081 Magnemite
                    option.species-selector() #082 Magneton
                    option.species-selector() #083 Farfetch'd
                    option.species-selector() #084 Doduo
                    option.species-selector() #085 Dodrio
                    option.species-selector() #086 Seel
                    option.species-selector() #087 Dewgong
                    option.species-selector() #088 Grimer
                    option.species-selector() #089 Muk
                    option.species-selector() #090 Shellder
                    option.species-selector() #091 Cloyster
                    option.species-selector() #092 Gastly
                    option.species-selector() #093 Haunter
                    option.species-selector() #094 Gengar
                    option.species-selector() #095 Onix
                    option.species-selector() #096 Drowzee
                    option.species-selector() #097 Hypno
                    option.species-selector() #098 Krabby
                    option.species-selector() #099 Kingler
                    option.species-selector() #100 Voltorb
                    option.species-selector() #101 Electrode
                    option.species-selector() #102 Exeggcute
                    option.species-selector() #103 Exeggutor
                    option.species-selector() #104 Cubone
                    option.species-selector() #105 Marowak
                    option.species-selector() #106 Hitmonlee
                    option.species-selector() #107 Hitmonchan
                    option.species-selector() #108 Lickitung
                    option.species-selector() #109 Koffing
                    option.species-selector() #110 Weezing
                    option.species-selector() #111 Rhyhorn
                    option.species-selector() #112 Rhydon
                    option.species-selector() #113 Chansey
                    option.species-selector() #114 Tangela
                    option.species-selector() #115 Kangaskhan
                    option.species-selector() #116 Horsea
                    option.species-selector() #117 Seadra
                    option.species-selector() #118 Goldeen
                    option.species-selector() #119 Seaking
                    option.species-selector() #120 Staryu
                    option.species-selector() #121 Starmie
                    option.species-selector() #122 Mr. Mime
                    option.species-selector() #123 Scyther
                    option.species-selector() #124 Jynx
                    option.species-selector() #125 Electabuzz
                    option.species-selector() #126 Magmar
                    option.species-selector() #127 Pinsir
                    option.species-selector() #128 Tauros
                    option.species-selector() #129 Magikarp
                    option.species-selector() #130 Gyarados
                    option.species-selector() #131 Lapras
                    option.species-selector() #132 Ditto
                    option.species-selector() #133 Eevee
                    option.species-selector() #134 Vaporeon
                    option.species-selector() #135 Jolteon
                    option.species-selector() #136 Flareon
                    option.species-selector() #137 Porygon
                    option.species-selector() #138 Omanyte
                    option.species-selector() #139 Omastar
                    option.species-selector() #140 Kabuto
                    option.species-selector() #141 Kabutops
                    option.species-selector() #142 Aerodactyl
                    option.species-selector() #143 Snorlax
                    option.species-selector() #144 Articuno
                    option.species-selector() #145 Zapdos
                    option.species-selector() #146 Moltres
                    option.species-selector() #147 Dratini
                    option.species-selector() #148 Dragonair
                    option.species-selector() #149 Dragonite
                    option.species-selector() #150 Mewtwo
                    option.species-selector() #151 Mew
                    option.species-selector() #152 Chikorita
                    option.species-selector() #153 Bayleef
                    option.species-selector() #154 Meganium
                    option.species-selector() #155 Cyndaquil
                    option.species-selector() #156 Quilava
                    option.species-selector() #157 Typhlosion
                    option.species-selector() #158 Totodile
                    option.species-selector() #159 Croconaw
                    option.species-selector() #160 Feraligatr
                    option.species-selector() #161 Sentret
                    option.species-selector() #162 Furret
                    option.species-selector() #163 Hoothoot
                    option.species-selector() #164 Noctowl
                    option.species-selector() #165 Ledyba
                    option.species-selector() #166 Ledian
                    option.species-selector() #167 Spinarak
                    option.species-selector() #168 Ariados
                    option.species-selector() #169 Crobat
                    option.species-selector() #170 Chinchou
                    option.species-selector() #171 Lanturn
                    option.species-selector() #172 Pichu
                    option.species-selector() #173 Cleffa
                    option.species-selector() #174 Igglybuff
                    option.species-selector() #175 Togepi
                    option.species-selector() #176 Togetic
                    option.species-selector() #177 Natu
                    option.species-selector() #178 Xatu
                    option.species-selector() #179 Mareep
                    option.species-selector() #180 Flaaffy
                    option.species-selector() #181 Ampharos
                    option.species-selector() #182 Bellossom
                    option.species-selector() #183 Marill
                    option.species-selector() #184 Azumarill
                    option.species-selector() #185 Sudowoodo
                    option.species-selector() #186 Politoed
                    option.species-selector() #187 Hoppip
                    option.species-selector() #188 Skiploom
                    option.species-selector() #189 Jumpluff
                    option.species-selector() #190 Aipom
                    option.species-selector() #191 Sunkern
                    option.species-selector() #192 Sunflora
                    option.species-selector() #193 Yanma
                    option.species-selector() #194 Wooper
                    option.species-selector() #195 Quagsire
                    option.species-selector() #196 Espeon
                    option.species-selector() #197 Umbreon
                    option.species-selector() #198 Murkrow
                    option.species-selector() #199 Slowking
                    option.species-selector() #200 Misdreavus
                    option.species-selector() #201 Unown
                    option.species-selector() #202 Wobbuffet
                    option.species-selector() #203 Girafarig
                    option.species-selector() #204 Pineco
                    option.species-selector() #205 Forretress
                    option.species-selector() #206 Dunsparce
                    option.species-selector() #207 Gligar
                    option.species-selector() #208 Steelix
                    option.species-selector() #209 Snubbull
                    option.species-selector() #210 Granbull
                    option.species-selector() #211 Qwilfish
                    option.species-selector() #212 Scizor
                    option.species-selector() #213 Shuckle
                    option.species-selector() #214 Heracross
                    option.species-selector() #215 Sneasel
                    option.species-selector() #216 Teddiursa
                    option.species-selector() #217 Ursaring
                    option.species-selector() #218 Slugma
                    option.species-selector() #219 Magcargo
                    option.species-selector() #220 Swinub
                    option.species-selector() #221 Piloswine
                    option.species-selector() #222 Corsola
                    option.species-selector() #223 Remoraid
                    option.species-selector() #224 Octillery
                    option.species-selector() #225 Delibird
                    option.species-selector() #226 Mantine
                    option.species-selector() #227 Skarmory
                    option.species-selector() #228 Houndour
                    option.species-selector() #229 Houndoom
                    option.species-selector() #230 Kingdra
                    option.species-selector() #231 Phanpy
                    option.species-selector() #232 Donphan
                    option.species-selector() #233 Porygon2
                    option.species-selector() #234 Stantler
                    option.species-selector() #235 Smeargle
                    option.species-selector() #236 Tyrogue
                    option.species-selector() #237 Hitmontop
                    option.species-selector() #238 Smoochum
                    option.species-selector() #239 Elekid
                    option.species-selector() #240 Magby
                    option.species-selector() #241 Miltank
                    option.species-selector() #242 Blissey
                    option.species-selector() #243 Raikou
                    option.species-selector() #244 Entei
                    option.species-selector() #245 Suicune
                    option.species-selector() #246 Larvitar
                    option.species-selector() #247 Pupitar
                    option.species-selector() #248 Tyranitar
                    option.species-selector() #249 Lugia
                    option.species-selector() #250 Ho-Oh
                    option.species-selector() #251 Celebi

            #form-group
                label(for = datetime) Time Caught
                input.form-control#datetime(type = "datetime-local")
            #form-group
                label(for = loc) Location
                div.input-group()
                    input.form-control.loc#lat(type = "text", placeholder = "Latitude", readonly)
                    div.input-group-addon() N
                div.input-group()
                    input.form-control.loc#lng(type = "text", placeholder = "Longitude", readonly)
                    div.input-group-addon() W
            #form-group
                label(for = name) Submitter
                input.form-control#name(type = "text", placeholder = "Name", readonly)
            button.btn.btn-default(type = "submit") Submit

  link(rel='stylesheet', href='/stylesheets/map.css')
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAPSczFBFn9zTquT37n68AYqkRytoUpqp8&callback=initMap')
  script(type='text/javascript' src='javascripts/mapcontroller.js')
